@import url("http://fonts.googleapis.com/css?family=Open+Sans:400,300,700|Roboto:300,400,500,700");

body {
  background-color: #FAFAFA;
  background: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4));
  background-image: url(images/background.jpeg);
}

h1, h2 {
  font-family: 'Roboto', sans-serif;
  font-weight: normal;
  color: #273043;
}

h1 {
  font-size: 24px;
}

h2 {
  font-size: 20px;
}


p {
  font-family: 'Open Sans', sans-serif;
  font-size: 16px;
  font-weight: lighter;
  margin-bottom: 40px;
}

a {
  font-family: 'Open Sans', sans-serif;
  font-weight: lighter;
  text-decoration: none;
}

a:hover {
  font-family: 'Open Sans', sans-serif;
  font-weight: lighter;
  color: #90C3C8;
}

.icons {
  font-size: 25px;
  color: #4B5C81;
}

li {
  list-style-type: none;
  display: inline-block;
  padding: 10px 20px;
}

img {
  width:100px;
  height:100px;
  background-size:contain;
  background-position:center;
  border-radius:50%;
}

ul {
  padding: 0px;
}

.container {
  width: 800px;
  margin: 0 auto;
}

.profile-card {
  text-align: center;
  background: #e6e6e6;
  padding: 30px;
  margin-top: 20px;
  margin-bottom: 20px;
 }

.profile-card:hover{
    box-shadow: 1px 4px 20px grey;
    transition:  box-shadow .6s ease-in;
}

.img-shadow {
  box-shadow: 1px 1px 1px #d6d6d6;
}

.btn {
  background-color: #4B5C81;
  color: white;
  font-weight: bolder;
  padding: 8px 24px;
}

.btn:hover {
  background-color: #90C3C8;
  color: white;
  font-weight: bolder;
  padding: 8px 24px;
}

@media (max-width: 960px) {
  .container {
    width: 700px;
  }
}
@media (max-width: 720px) {
  .container {
    width: 500px;
  }
}
@media (max-width: 540px) {
  .container {
    width: 300px;
  }
}
