@import url("http://fonts.googleapis.com/css?family=Open+Sans:400,300,700|Roboto:300,400,500,700");

body {
  background-color: rgb(250, 250, 250);
}

h1, h2 {
  font-family: 'Roboto', sans-serif;
  font-weight: normal;
  color: #273043;
}

p {
  font-family: 'Open Sans', sans-serif;
  font-weight: lighter;
  margin-bottom: 40px;
}

a {
  font-family: 'Open Sans', sans-serif;
  font-weight: lighter;
  text-decoration: none;
}

a:hover {
  font-family: 'Open Sans', sans-serif;
  font-weight: lighter;
  color: #90C3C8;
}

.icons {
  font-size: 25px;
  color: #4B5C81;
}

li {
  list-style-type: none;
  display: inline-block;
  padding: 10px 20px;
}

img {
  border-radius: 50%;
}

ul {
  padding: 0px;
}

.container {
  width: 700px;
  margin: 0 auto;
}

.profile-card {
  text-align: center;
  background: rgb(230, 230, 230);
  padding: 30px;
  margin-top: 20px;
  margin-bottom: 20px;
  border: 1px solid #FFFFFF;
}

.img-shadow {
  box-shadow: 1px 1px 1px #FFFFFF
}

.btn {
  background-color: #4B5C81;
  color: white;
  font-weight: bolder;
  padding: 8px 24px;
}

.btn:hover {
  background-color: #90C3C8;
  color: white;
  font-weight: bolder;
  padding: 8px 24px;
}

@media (max-width: 960px) {
  .container {
    width: 700px;
  }
}
@media (max-width: 720px) {
  .container {
    width: 500px;
  }
}
@media (max-width: 540px) {
  .container {
    width: 300px;
  }
}
